{% extends "network/layout.html" %}

{% block body %}
    <h1 class="container">Following Posts</h1>
    
    {% for post in post_page %}
    <div class="allpost">
        <h5 class="post_body">{{ post.post_body }}</h5>
        <h6 class="post_details"><a href="{% url 'profile' user_id=post.post_user.id %}">{{ post.post_user }}</a> posted at {{ post.post_timestamp }}</h6>
        <hr>
    </div>
    {% endfor %}
    
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if post_page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ post_page.previous_page_number }}">Previous</a></li>
            {% endif %} 
            {% if post_page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ post_page.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>

{% endblock %}