{% extends "encyclopedia/layout.html" %}

{% block title %}
   
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <form action="{% url 'new_page' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" name="title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" name="content" rows="4" cols="20" placeholder="Enter your Description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

{% endblock %}