.Advanced_search {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: arial,sans-serif;;
    font: 20px;
    font-size: 110%;
    vertical-align: baseline;
    text-decoration: none;
    align-items: right;
    justify-content: right;
    color: #d93025;
    
}


.advanced {
    font-size:16px;
    color: #333333;

}

.google-searchbox{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
}



.navbar-item-google {
    flex: 1;
    display: flex;
    align-items:right;
    padding: 5px 8px 0 14px;
    justify-content: right;
}

.search-button {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    align-items: center;
}    
    

.row{
    flex:1;
    justify-content: row;
}

.center {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 272px;
    height:92px;
    flex-direction:row;

  }

.border {
    border-bottom:1px solid;
    color:#ebebeb;
}

.lucky-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn-btn-primary{
    border: 1px solid #3079ed;
    box-shadow: none;
    background-color: #4d90fe;
    margin: 10px 0;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    padding: 6px 12px;;
}

.text-box{
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: auto;
    text-align: left;
    align-items: center;
    flex-direction: row;
    display: flex;
    
}

.page-setting{
    margin:20px;
}


a:link {
    color: black;
    text-decoration:none;
}

a:visited {
    color:black;

}

a:hover {
    color:black;

}

a:active {
    color:black;
}